@page{
	size: landscape; 
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	font-family: "Fira Sans", sans-serif;
}
div {
	word-wrap: break-word;
}
.flex-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.title_pane{
	width: 100vw;
	padding-top: 5px;
	padding-bottom: 5px;
}
.menu_pane{
	width: 100vw;
	background-color: rgba(216, 235, 240, 1);
	height: 40px;
	align-items: left;
	justify-content: flex-end;
}
.menu_items{
	display: flex;
	align-items: center;
	height: 35px;
	border-bottom: 5px solid transparent;
	padding-left:10px;
	padding-right:10px;
}
.menu_items:hover{
	border-bottom: 5px solid rgba(28, 18, 222, 1);
}
.selected_menu{
	background-color: rgba(28, 18, 222, 1);
	color: white;
	font-weight: bold;
	border-radius: 3px;
}
.empty_menu_item{
	display: flex;
	height: 35px;
	width: 75px;
}
.dashboard{
	width: 100vw;
	padding: 0px 0px 50px 0px;
}
.content_space{
	width: 95vw;
	padding-top: 5px;
}
.heading1{
	font-family: "Sofia", sans-serif;
	font-weight: bold;
	font-size: 50px;
	padding: 3px 10px 3px 10px;
	color: gray;
	display: block;	
}
.heading1_right{
	font-family: "Sofia", sans-serif;
	font-weight: bold;
	font-size: 50px;
	padding: 3px 10px 3px 10px;
	color: gray;
	display: block;
	text-align: right;
}
.heading2{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 25px;
	padding: 3px 0px 3px 0px;
	color: gray;
	display: block;
	text-align: center;
	text-decoration: underline;
}
.hyperlink{
	cursor: pointer;
}
.subsection{
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
ul li {
	text-align: left;
}
li:hover{
	color: blue;
	font-weight: 900;
}
.text{
	text-align: justify;
	text-justify: inter-word;
}
.footer{
	position: relative;
	bottom: 0px;
	width: 100vw;
	height: 25px;
	border-top: 3px solid transparent;
	text-align: center;
	justify-content: center;
	background-color: rgba(91, 171, 91, 1);
	color: white;
}
.display_tablet{
	text-align: center;
	display: flex;
	align-items: center;
	width: 200px;
	height: 100px;
	word-wrap: break-word;
	font-weight: 500;
	font-size: 20px;
	border-radius: 10px;
	box-shadow: 1px 1px 3px 1px grey;
	background-color: rgba(216, 235, 240, 1);
}
.display_tablet:hover{
	box-shadow: 3px 3px 5px 3px grey;
	font-weight: 900;
	color: white;
	background-color: rgba(38, 81, 145,1);
}
/*
.display_tablet{
	display: flex;
	align-items: center;
	text-align: center;
	width: 200px;
	height: 100px;
	word-wrap: break-word;
	font-weight: 900;
	color: white;
	font-size: 20px;
	border-radius: 10px;
	box-shadow: 1px 1px 3px 1px grey;
	background-color: #171717;
	opacity: 1;
	background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #171717 17px ), repeating-linear-gradient( #676b6855, #676b68 );
}
.display_tablet:hover{
	box-shadow: 3px 3px 5px 3px grey;
	font-weight: 900;
	color: black;
	background-color: #c7cc46;
	opacity: 1;
	background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #c7cc46 17px ), repeating-linear-gradient( #2f914d55, #2f914d );
}
*/
.logo_shadow{
	border-radius: 15px; 
	border: 3px solid #EEE;
	box-shadow: 5px 5px 5px #BBF; 
}
.logo_shadow:hover{
	/*filter: invert(100%);*/
	box-shadow: 15px 15px 10px #BBF; 
}
